{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "sam_api_getData"
	},
	"host": "api.data.gov",
	"basePath": "/sam",
	"schemes": [
		"https"
	],
	"paths": {
		"/v8/registrations/{registrationId}": {
			"get": {
				"description": "Operations about entity registrations",
				"operationId": "getData",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "path",
						"name": "registrationId",
						"description": "DUNS+4 number (no '-' sign) of the registration to be fetched",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "api_key",
						"description": "An API Key from api.data.gov",
						"type": "string",
						"required": true
					}
				],
				"summary": "Find a registration by its DUN+4 number. If the entity only has a 9-digit DUNS number, pad the end to include 4 zeros.",
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/SamRegistration"
						}
					},
					"403": {
						"description": "Request for registration information forbidden"
					},
					"404": {
						"description": "The registration could not be found"
					},
					"406": {
						"description": "Duns number must be 13 digit long"
					},
					"500": {
						"description": "Internal error"
					}
				}
			}
		}
	},
	"definitions": {
		"SamRegistration": {
			"description": "A partial representation of a SAM registration",
			"required": [
			        "duns",
				"purposeOfRegistration",
				"registrationDate",
				"expirationDate",
				"activationDate",
				"lastUpdatedDate",
				"legalBusinessName",
				"corporateUrl",
				"corporateStructureCode",
				"mailingAddress",
				"status",
				"businessTypes"
			],
			"type": "object",
			"properties": {
				"duns": {
					"type": "string"
				},
				"duns4": {
					"type": "string"
				},
				"cage": {
					"type": "string"
				},
				"ncage": {
					"type": "string"
				},
				"dodaac": {
					"type": "string"
				},
				"purposeOfRegistration": {
					"type": "string",
					"enum": ["IGT_ONLY",
					"IGT_FEDERAL_ASSISTANCE",
					"IGT_ALL_AWARDS",
					"FEDERAL_ASSISTANCE",
					"ALL_AWARDS"]
				},
				"registrationDate": {
					"type": "string",
					"format": "date-time"
				},
				"expirationDate": {
					"type": "string",
					"format": "date-time"
				},
				"activationDate": {
					"type": "string",
					"format": "date-time"
				},
				"lastUpdatedDate": {
					"type": "string",
					"format": "date-time"
				},
				"legalBusinessName": {
					"type": "string"
				},
				"doingBusinessAsName": {
					"type": "string"
				},
				"companyDivision": {
					"type": "string"
				},
				"divisionNumber": {
					"type": "string"
				},
				"samAddress": {
					"$ref": "#/definitions/SamAddress"
				},
				"congressionalDistrict": {
					"type": "string"
				},
				"businessStartDate": {
					"type": "string",
					"format": "date-time"
				},
				"fiscalYearCloseDay": {
					"type": "string"
				},
				"corporateUrl": {
					"type": "string"
				},
				"corporateStructureCode": {
					"type": "string",
					"enum": [
						"2J",
						"2K",
						"2L",
						"8H",
						"2A",
						"CY",
						"X6",
						"ZZ"
					]
				},
				"corporateStructureDescription": {
					"type": "string"
				},
				"mailingAddress": {
					"$ref": "#/definitions/SamAddress"
				},
				"stateOfIncorporation": {
					"type": "string"
				},
				"countryOfIncorporation": {
					"type": "string"
				},
				"govtBusinessPoc": {
					"$ref": "#/definitions/SamPointOfContact"
				},
				"altGovtBusinessPoc": {
					"$ref": "#/definitions/SamPointOfContact"
				},
				"pastPerformancePoc": {
					"$ref": "#/definitions/SamPointOfContact"
				},
				"altPastPerformancePoc": {
					"$ref": "#/definitions/SamPointOfContact"
				},
				"electronicBusinessPoc": {
					"$ref": "#/definitions/SamPointOfContact"
				},
				"altElectronicBusinessPoc": {
					"$ref": "#/definitions/SamPointOfContact"
				},
				"creditCardUsage": {
					"type": "boolean"
				},
				"hasDelinquentFederalDebt": {
					"type": "boolean"
				},
				"hasKnownExclusion": {
					"type": "boolean"
				},
				"correspondenceFlag": {
					"type": "string",
					"enum": [
						"M",
						"F",
						"E"
					]
				},
				"status": {
					"type": "string",
					"enum": [
						"ACTIVE",
						"EXPIRED",
						"WIP"
					]
				},
				"statusMessage": {
					"type": "string"
				},
				"businessTypes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"sbaCertificationExpirationDate": {
					"type": "string",
					"format": "date-time"
				},
				"disasterRelief": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"state": {
								"type": "string"
							},
							"county": {
								"type": "string"
							},
							"msa": {
								"type": "string"
							}
						}
					}
				},
				"pscCodes": {
					"type": "array",
					"items": {
						"type": "object",
						"required": [
							"pscCode"
						],
						"properties": {
							"pscCode": {
								"type": "string"
							},
							"pscName": {
								"type": "string"
							},
							"isPrimary": {
								"type": "boolean"
							},
							"smallBusinessIndicator": {
								"type": "string",
								"enum": [
									"Y",
									"N",
									"E"
								]
							}
						}
					}
				},
				"certifications": {
					"type": "object",
					"required": [
						"pdfUrl"
					],
					"properties": {
						"pdfUrl": {
							"type": "string"
						}
					}
				},
				"qualifications": {
					"type": "object",
					"required": [
						"pdfUrl"
					],
					"properties": {
						"pdfUrl": {
							"type": "string"
						}
					}
				}
			}
		},
		"SamPointOfContact": {
			"description": "A representation of a point of contact in SAM",
			"type": "object",
			"required": [
				"firstName",
				"lastName",
				"email"
			],
			"properties": {
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"middleInitial": {
					"type": "string"
				},
				"address": {
					"$ref": "#/definitions/SamAddress"
				},
				"usPhone": {
					"type": "string"
				},
				"usPhoneExt": {
					"type": "string"
				},
				"nonUsPhone": {
					"type": "string"
				},
				"nonUsPhoneExt": {
					"type": "string"
				},
				"email": {
					"type": "string"
				}
			}
		},
		"SamAddress": {
			"description": "A representation of an address in SAM",
			"type": "object",
			"required": [
				"line1",
				"city",
				"countryCode"
			],
			"properties": {
				"line1": {
					"type": "string"
				},
				"line2": {
					"type": "string"
				},
				"city": {
					"type": "string"
				},
				"stateOrProvince": {
					"type": "string"
				},
				"zip": {
					"type": "string"
				},
				"zip4": {
					"type": "string"
				},
				"countryCode": {
					"type": "string"
				}
			}
		}
	}
}
