{
	"openapi": "3.0.1",
	"info": {
		"title": "sam_api_getData",
	    	"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://api.data.gov/sam"
		}
	],
	"paths": {
		"/v8/registrations/{registrationId}": {
			"get": {
				"summary": "Find a registration by its DUN+4 number; NOTE: If the entity only has a 9-digit DUNS number, pad the end to include 4 zeros",
				"description": "Operations about entity registrations",
				"operationId": "getData",
				"parameters": [
					{
						"in": "path",
						"name": "registrationId",
						"description": "DUNS+4 number (no '-' sign) of the registration to be fetched",
						"schema": {
							"type": "string",
						},
						"required": true
					},
					{
						"in": "query",
						"name": "api_key",
						"description": "An API Key from api.data.gov",
						"schema": {
							"type": "string",
						},
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SamRegistration"
								}
							}
						}
					},
					"403": {
						"description": "Request for registration information forbidden",
						"content": {}
					},
					"404": {
						"description": "The registration could not be found",
						"content": {}
					},
					"406": {
						"description": "Duns number must be 13 digit long",
						"content":  {}
					},
					"500": {
						"description": "Internal error",
						"content":  {}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"SamRegistration": {
				"description": "A partial representation of a SAM registration",
				"required": [
					"activationDate",
					"businessTypes",
					"corporateStructureCode",
					"corporateUrl",
					"duns",
					"expirationDate",
					"lastUpdatedDate",
					"legalBusinessName",
					"mailingAddress",
					"purposeOfRegistration",
					"registrationDate",
					"status"
				],
				"type": "object",
				"properties": {
					"duns": {
						"type": "string"
					},
					"duns4": {
						"type": "string"
					},
					"cage": {
						"type": "string"
					},
					"ncage": {
						"type": "string"
					},
					"dodaac": {
						"type": "string"
					},
					"purposeOfRegistration": {
						"type": "string",
						"enum": [
							"IGT_ONLY",
							"IGT_FEDERAL_ASSISTANCE",
							"IGT_ALL_AWARDS",
							"FEDERAL_ASSISTANCE",
							"ALL_AWARDS"
						],
					},
					"registrationDate": {
						"type": "string",
						"format": "date-time"
					},
					"expirationDate": {
						"type": "string",
						"format": "date-time"
					},
					"activationDate": {
						"type": "string",
						"format": "date-time"
					},
					"lastUpdatedDate": {
						"type": "string",
						"format": "date-time"
					},
					"legalBusinessName": {
						"type": "string"
					},
					"doingBusinessAsName": {
						"type": "string"
					},
					"companyDivision": {
						"type": "string"
					},
					"divisionNumber": {
						"type": "string"
					},
					"samAddress": {
						"$ref": "#/components/schemas/SamAddress"
					},
					"congressionalDistrict": {
						"type": "string"
					},
					"businessStartDate": {
						"type": "string",
						"format": "date-time"
					},
					"fiscalYearCloseDay": {
						"type": "string"
					},
					"corporateUrl": {
						"type": "string"
					},
					"corporateStructureCode": {
						"type": "string",
						"enum": [
							"2J",
							"2K",
							"2L",
							"8H",
							"2A",
							"CY",
							"X6",
							"ZZ"
						],
					},
					"corporateStructureDescription": {
						"type": "string"
					},
					"mailingAddress": {
						"$ref": "#/components/schemas/SamAddress"
					},
					"stateOfIncorporation": {
						"type": "string"
					},
					"countryOfIncorporation": {
						"type": "string"
					},
					"govtBusinessPoc": {
						"$ref": "#/components/schemas/SamPointOfContact"
					},
					"altGovtBusinessPoc": {
						"$ref": "#/components/schemas/SamPointOfContact"
					},
					"pastPerformancePoc": {
						"$ref": "#/components/schemas/SamPointOfContact"
					},
					"altPastPerformancePoc": {
						"$ref": "#/components/schemas/SamPointOfContact"
					},
					"electronicBusinessPoc": {
						"$ref": "#/components/schemas/SamPointOfContact"
					},
					"altElectronicBusinessPoc": {
						"$ref": "#/components/schemas/SamPointOfContact"
					},
					"creditCardUsage": {
						"type": "boolean"
					},
					"hasDelinquentFederalDebt": {
						"type": "boolean"
					},
					"hasKnownExclusion": {
						"type": "boolean"
					},
					"correspondenceFlag": {
						"type": "string",
						"enum": [
							"M",
							"F",
							"E"
						]
					},
					"status": {
						"type": "string",
						"enum": [
							"ACTIVE",
							"EXPIRED",
							"WIP"
						]
					},
					"statusMessage": {
						"type": "string"
					},
					"businessTypes": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"sbaCertificationExpirationDate": {
						"type": "string",
						"format": "date-time"
					},
					"disasterRelief": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"state": {
									"type": "string"
								},
								"county": {
									"type": "string"
								},
								"msa": {
									"type": "string"
								}
							}
						}
					},
					"pscCodes": {
						"type": "array",
						"items": {
							"required": [
								"pscCode"
							],
							"type": "object",
							"properties": {
								"pscCode": {
									"type": "string"
								},
								"pscName": {
									"type": "string"
								},
								"isPrimary": {
									"type": "boolean"
								},
								"smallBusinessIndicator": {
									"type": "string",
									"enum": [
										"Y",
										"N",
										"E"
									]
								}
							}
						}
					},
					"certifications": {
						"type": "object",
						"required": [
							"pdfUrl"
						],
						"properties": {
							"pdfUrl": {
								"type": "string"
							}
						}
					},
					"qualifications": {
						"required": [
							"pdfUrl"
						],
						"type": "object",
						"properties": {
							"pdfUrl": {
								"type": "string"
							}
						}
					}
				}
			},
			"SamPointOfContact": {
				"description": "A representation of a point of contact in SAM",
				"required": [
					"email",
					"firstName",
					"lastName"
				],
				"type": "object",
				"properties": {
					"firstName": {
						"type": "string"
					},
					"lastName": {
						"type": "string"
					},
					"middleInitial": {
						"type": "string"
					},
					"address": {
						"$ref": "#/components/schemas/SamAddress"
					},
					"usPhone": {
						"type": "string"
					},
					"usPhoneExt": {
						"type": "string"
					},
					"nonUsPhone": {
						"type": "string"
					},
					"nonUsPhoneExt": {
						"type": "string"
					},
					"email": {
						"type": "string"
					}
				}
			},
			"SamAddress": {
				"description": "A representation of an address in SAM",
				"required": [
					"city",
					"countryCode",
					"line1"
				],
				"type": "object",
				"properties": {
					"line1": {
						"type": "string"
					},
					"line2": {
						"type": "string"
					},
					"city": {
						"type": "string"
					},
					"stateOrProvince": {
						"type": "string"
					},
					"zip": {
						"type": "string"
					},
					"zip4": {
						"type": "string"
					},
					"countryCode": {
						"type": "string"
					}
				}
			}
		}
	}
}
